In [1]:
import pandas as pd
import numpy as np
from get_data import get_track_data

In [2]:
cases_data = pd.read_csv('data/cases.csv')
tracks_data = pd.read_csv('data/trks.csv')
labs_data = pd.read_csv('data/labs.csv')

In [16]:
cases_data

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
2,3,2861,0,4394,-590,4210.0,1090,3010,-218640,40560,...,0,0,0.0,0,50,0,0,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6383,6384,5583,0,15248,-260,15640.0,2140,14140,-215340,648660,...,0,150,0.0,0,90,0,20,0,0,0
6384,6385,2278,0,20643,-544,20996.0,2396,19496,-225600,1675200,...,0,100,0.0,0,100,0,25,30,0,300
6385,6386,4045,0,19451,-667,19133.0,3533,18233,-200460,836340,...,0,70,0.0,0,130,0,10,0,0,0
6386,6387,5230,0,12025,-550,12830.0,1730,11030,-227760,377040,...,0,120,0.0,0,50,0,0,0,0,0
6387,6388,1306,0,10249,-79,10121.0,2321,9221,-312060,379140,...,500,120,0.0,0,90,0,20,0,0,0

In [14]:
tracks_data[tracks_data['caseid'] == 1]

    caseid                   tname                                       tid
0        1                 BIS/BIS  fd869e25ba82a66cc95b38ed47110bf4f14bb368
1        1            BIS/EEG1_WAV  0aa685df768489a18a5e9f53af0d83bf60890c73
2        1            BIS/EEG2_WAV  ad13b2c39b19193c8ae4a2de4f8315f18d61a57e
3        1                 BIS/EMG  2525603efe18d982764dbca457affe7a45e766a9
4        1                 BIS/SEF  1c91aec859304840dec75acf4a35da78be0e8ef0
..     ...                     ...                                       ...
71       1    Solar8000/VENT_PPLAT  e1e55590c9da90de55892edf941247b7a6d9213c
72       1       Solar8000/VENT_RR  0b0b820e617889fcc464525f0698fdfc2b3fa79e
73       1  Solar8000/VENT_SET_PCP  e32742aa29d8e4ded02093617f05c1ca72bad344
74       1   Solar8000/VENT_SET_TV  8049dc651b8a55b1c5f0ab17a2e72c1f188b2596
75       1       Solar8000/VENT_TV  25735add0f2afc281a75c45480108df13b78f1fb

[76 rows x 3 columns]

In [8]:
labs_data[labs_data['caseid'] == 1]

     caseid      dt   name  result
0         1  594470    alb    2.90
1         1  399575    alb    3.20
2         1   12614    alb    3.40
3         1  137855    alb    3.60
4         1  399575    alt   12.00
..      ...     ...    ...     ...
109       1  137855  tprot    6.30
110       1  399857    wbc    7.83
111       1  594465    wbc    8.38
112       1  137867    wbc   13.45
113       1   12609    wbc   15.16

[114 rows x 4 columns]

In [6]:
get_track_data("fd869e25ba82a66cc95b38ed47110bf4f14bb368")